header {
  background-color: #ffffff;
  color: white;
  padding: 1rem;
  display: grid;

  grid-template-columns: 90px 1fr;
  gap: 10px;
  background-color: #321656;
}
nav {
  display: flex;
  align-items: center;
  height: 100%;
  background-color: #321656;
}
.liensnav {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-direction: column;
  font-weight: bold;
  font-size: 15px;
  align-items: center;
}

.liensnav a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

.liensnav a:hover {
  background-color: #555;
}
.bullesdev {
  display: flex;
  align-items: center;
  width: 10px;
}
.bullesdev img {
  display: flex;
  width: 100px;
  height: 100px;
}
@media screen and (min-width: 1024px) {
  header {
    grid-template-columns: 140px 1fr;
  }

  .liensnav {
    font-size: 25px;

    flex-direction: initial;
    align-items: initial;
  }
  .bullesdev img {
    width: 150px;
    height: initial;
  }
  .bullesdev {
    align-items: initial;
    width: initial;
  }
}
