h1,
p {
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css?family=Exo+2:900');

@keyframes up {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-2048px);
  }
}

@keyframes wobble {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

h1 {
  font-family: 'Exo 2', sans-serif;
  font-size: 50px;
  color: white;
  /* padding: 6rem 0; */
  text-shadow: 0px 4px 48px rgba(255, 255, 255, 0.2);

  padding: 10px;
}

.container {
  position: relative;
  display: flex;

  justify-content: center;
  min-height: 100vh; /* Définir la hauteur minimale du conteneur à 100% de la hauteur de l'écran */
  background-image: linear-gradient(to bottom, #00c9ff 0%, #92fe9d 100%),
    url('image2.jpg');
  background-blend-mode: multiply;
  background-size: cover;
  z-index: 0;
  flex-wrap: wrap;
}

.container::after {
  content: '';
  position: absolute;
  top: 92px;
  left: 0;
  width: 100%;
  height: 87%;
}

.content {
  position: relative;
  z-index: 2;
  text-align: center;
  padding-top: 30px;
}

.content h1 {
  color: white;
  font-size: 36px;
}
.presentationmoi {
  font-size: 20px;
  margin-bottom: 48px;
  padding: 16px;
}
.monh2 {
  font-size: 18px;
  color: white;
  text-decoration: underline;
  padding: 20px 0px 10px 0px;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 20px;
    font-family: 'Exo 2', sans-serif;
    font-size: 90px;
    color: white;
    padding: 6rem 0;
    text-shadow: 0px 4px 48px rgba(255, 255, 255, 0.2);
    display: flex;
  }
  .presentationmoi {
    font-size: 30px;

    display: flex;

    margin-bottom: 48px;
    padding: 10px;
    flex-direction: column;
    justify-content: flex-end;
  }
  .monh2 {
    font-size: 35px;
    color: white;
    text-decoration: underline;
    padding: 20px 0px 10px 0px;
  }
}
